<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/contact">
      <br>
      name<input type="text" name="n"/>
      </br>
      <br>
      mobile no<input type="text" mobile no="n"/>
      </br>
      <br>
      <input type="submit"/>
    </br>
    </form>
    <p>Welcome to <%= title %></p>
  </body>
</html>
